@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  background: black;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
  font-size: 1.25rem; }

a {
  text-decoration: none;
  color: inherit; }

.page-content {
  margin-top: 4rem;
  color: #fafafa;
  min-height: 75vh; }
  .page-content header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
    margin-bottom: 3vh; }
    .page-content header h1 {
      color: #ffcc3b;
      font-size: 5rem;
      margin: 0; }

.link, .link--black {
  border: 2px solid #fafafa;
  background: transparent;
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
  transition: 0.3s; }
  .link:hover, .link--black:hover {
    background: #fafafa;
    color: black; }
  .link--black {
    font-size: 1rem;
    color: black;
    border-color: black; }
    .link--black:hover {
      border-color: black;
      color: #fafafa;
      background: black; }

.vertical-chain {
  display: flex;
  flex-direction: column;
  width: 100vw; }
  .vertical-chain .section, .vertical-chain .section--image, .vertical-chain .section--text {
    display: flex;
    align-items: center;
    height: 100vh; }
    .vertical-chain .section h1, .vertical-chain .section--image h1, .vertical-chain .section--text h1 {
      font-size: 5vmax; }
  .vertical-chain .section--image {
    justify-content: center; }
    .vertical-chain .section--image h1 a {
      display: block;
      color: #fafafa;
      align-self: center;
      transition: .2s; }
      .vertical-chain .section--image h1 a:hover {
        transform: scale(1.3); }
    .vertical-chain .section--image .section-background {
      position: absolute;
      overflow: hidden;
      height: 100%;
      width: 100vw; }
      .vertical-chain .section--image .section-background img {
        height: 100vh;
        filter: blur(10px); }
  .vertical-chain .section--text {
    background: white;
    height: 70vh;
    color: black;
    font-size: 1.5rem; }
    .vertical-chain .section--text .content-wrapper {
      padding: 0 10vw; }
  .vertical-chain .content-wrapper {
    z-index: 2; }
    .vertical-chain .content-wrapper .content {
      flex-direction: column; }

.big-text {
  border: 2px solid #fafafa;
  width: 70vw;
  margin: 7vh auto 0;
  padding: 2rem; }
  .big-text a {
    text-decoration: underline; }

.news-cards {
  display: flex;
  flex-direction: column; }
  .news-cards section {
    border: 2px solid #fafafa;
    border-radius: 15px;
    background: rgba(255, 204, 59, 0.9);
    width: 70vw;
    margin: 2vh auto;
    padding: 1rem; }

.player-cards {
  margin: 0 auto;
  width: 100%;
  max-width: 1350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .player-cards section {
    margin: 2%;
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 10px; }
    .player-cards section .section-background {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%; }
      .player-cards section .section-background img {
        display: block;
        width: inherit;
        height: inherit;
        transition: 0.2s; }
    .player-cards section .content-wrapper {
      height: 100%;
      opacity: 0;
      transition: 0.2s;
      display: box;
      align-items: center; }
      .player-cards section .content-wrapper .content {
        align-self: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .player-cards section .content-wrapper .content h1 {
          font-size: 2rem;
          margin: 0; }
    .player-cards section:hover .content-wrapper {
      opacity: 1; }
    .player-cards section:hover .section-background img {
      filter: blur(5px); }

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto; }
  .form input {
    margin: 1% 0;
    padding: 1%;
    width: clamp(300px, 70vw, 600px); }
    .form input[type=submit] {
      border: 2px solid #fafafa;
      background: transparent;
      color: #fafafa;
      width: 5rem; }

.nav-wrapper {
  width: 100vw;
  height: 4rem;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 3; }

.nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase; }
  .nav-logo {
    height: inherit; }
    .nav-logo img {
      height: 150%; }
  .nav-routes {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 40vw; }
    .nav-routes a {
      cursor: pointer;
      color: #fafafa;
      text-decoration: none;
      font-size: 1rem; }
    .nav-routes .nav-folder {
      text-transform: uppercase;
      cursor: pointer;
      color: #fafafa;
      font-size: 1rem;
      text-decoration: none;
      background: none;
      border: none; }
      .nav-routes .nav-folder-content {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: none;
        flex-direction: column;
        padding: 1%;
        top: 4rem;
        left: 55vw; }
  .nav-burger {
    display: none; }
  .nav .btn {
    background: none;
    border: none;
    color: #fafafa;
    font-size: 2rem;
    cursor: pointer; }
    .nav .btn:hover {
      color: #9c9c9c; }

.burger-menu-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  transition: 0.3s;
  display: flex;
  transform: translateX(100vw); }
  .burger-menu-wrapper .burger-menu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    font-size: 8vw; }
  .burger-menu-wrapper .menu-close-btn {
    font-size: 4rem;
    position: absolute;
    top: 8vh;
    right: 12vw; }
    .burger-menu-wrapper .menu-close-btn:after {
      display: inline-block;
      content: "\00d7"; }

@media (max-width: 900px) {
  .nav {
    padding: 0 2rem;
    justify-content: space-between; }
    .nav-routes {
      display: none; }
    .nav-burger {
      display: block; }
    .nav .link, .nav .link--black {
      display: none; } }

@media (max-width: 400px) {
  .burger-menu-wrapper .menu-close-btn {
    right: 8vw; } }

.footer {
  display: flex;
  background: black;
  height: 15vh;
  color: #ffcc3b;
  font-size: 1rem;
  margin: 1rem;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center; }

@media (max-width: 500px) {
  .footer {
    flex-flow: column nowrap;
    height: 20vh; } }
