@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  background: #000;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  font-size: 2vmax;
  max-font-size: 10px; }

header, nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  align-self: center;
  position: fixed;
  padding: auto 2vw;
  width: 100vw;
  height: 5.5vh;
  text-transform: uppercase; }

.routes {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
  .routes li {
    padding: 0 3vw 0 0; }
    .routes li a {
      align-self: center;
      cursor: pointer;
      color: #fff;
      font-weight: 400;
      text-decoration: none;
      font-size: clamp(10px, 2vh, 100px); }

.burger {
  display: none; }

.menu {
  display: none; }

@media (max-width: 800px) {
  .burger {
    display: flex; }
  .routes {
    display: none; } }

nav {
  filter: none;
  justify-content: center; }

.page-content {
  position: fixed;
  margin: 0 auto;
  top: 5vh;
  height: 95vh;
  width: 100vw;
  color: #111;
  text-align: center; }
  .page-content h1 {
    font-size: clamp(20px, 3vw, 300px);
    font-weight: bold;
    color: #ffcc3b;
    text-transform: uppercase; }

.page-content a:hover {
  cursor: pointer;
  text-decoration: underline; }
