@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  padding-top: 8vh;
  background: black;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: inherit; }

.page-content {
  margin: 0;
  color: #fafafa; }

.link {
  border: 2px solid;
  background: transparent;
  font-size: 2vh;
  padding: 0.2rem 0.5rem; }
  .link:hover {
    background: #fafafa;
    color: black; }

.vertical-chain {
  display: flex;
  flex-direction: column;
  width: 100vw; }
  .vertical-chain .section, .vertical-chain .section--image, .vertical-chain .section--text {
    display: flex;
    align-items: center;
    height: 100vh; }
    .vertical-chain .section h1, .vertical-chain .section--image h1, .vertical-chain .section--text h1 {
      font-size: 5vmax; }
  .vertical-chain .section--image {
    justify-content: center; }
    .vertical-chain .section--image h1 a {
      display: block;
      color: #fafafa;
      align-self: center;
      transition: .2s; }
      .vertical-chain .section--image h1 a:hover {
        transform: scale(1.3); }
    .vertical-chain .section--image .section-background {
      position: absolute;
      overflow: hidden;
      height: 100%;
      width: 100vw; }
      .vertical-chain .section--image .section-background img {
        height: 100vh;
        filter: blur(10px); }
  .vertical-chain .section--text {
    background: white;
    height: 70vh;
    color: black;
    font-size: 1.5rem; }
    .vertical-chain .section--text a:hover {
      background: black;
      color: #fafafa; }
    .vertical-chain .section--text .content-wrapper {
      padding: 0 10vw; }
  .vertical-chain .content-wrapper {
    z-index: 2; }
    .vertical-chain .content-wrapper .content {
      flex-direction: column; }

.big-text {
  color: #fafafa;
  border: 2px solid #fafafa;
  width: 70vw;
  margin: 3vh auto;
  padding: 3%; }

.nav {
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 8vh;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3; }
  .nav-logo {
    height: 8vh; }
    .nav-logo img {
      height: 150%; }
  .nav-routes {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 40vw; }
    .nav-routes a {
      cursor: pointer;
      color: #fff;
      font-weight: 400;
      text-decoration: none;
      font-size: clamp(10px, 2vh, 100px); }
  .nav-burger {
    display: none; }

.burger-menu {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: black;
  align-content: center;
  align-self: center; }
  .burger-menu-wrapper {
    display: none; }

@media (max-width: 900px) {
  .nav {
    height: 5vh;
    justify-content: space-between; }
    .nav-routes {
      display: none; }
    .nav-burger {
      display: block; }
    .nav .link {
      display: none; } }

.footer {
  margin: 5vh 0;
  display: flex;
  background: black;
  height: 15vh;
  color: #ffcc3b;
  font-size: 1rem;
  margin: 1rem;
  flex-flow: column wrap;
  align-items: center; }

@media (max-width: 500px) {
  .footer {
    flex-flow: column nowrap;
    height: 20vh; } }
