$white: rgb(250, 250, 250)
$black: rgb(0, 0, 0)
$gold: rgb(255, 204, 59)

body
    background: $black
    color: $white
    font-family: "Poppins", sans-serif
    margin: 0
    overflow-x: hidden
    font-size: 1.25rem

a
    text-decoration: none
    color: inherit

.page-content // body
    margin-top: 4rem
    color: $white
    min-height: 75vh // sticky footer
    header
        display: flex
        flex-direction: column
        align-items: center
        padding: 0 5vw
        margin-bottom: 3vh
        h1
            justify-self: 
            color: $gold
            font-size: 5rem
            margin: 0

.link // link like button
    border: 2px solid $white
    background: transparent
    font-size: 0.75rem
    padding: 0.2rem 0.5rem
    transition: 0.3s
    &:hover
        background: $white
        color: $black
    &--black
        @extend .link
        font-size: 1rem
        color: $black
        border-color: $black
        &:hover
            border-color: $black
            color: $white
            background: $black

.vertical-chain
    display: flex
    flex-direction: column
    width: 100vw
    .section
        display: flex
        align-items: center
        height: 100vh
        h1
            font-size: 5vmax
    .section--image
        @extend .section
        justify-content: center
        h1 a
            display: block
            color: $white
            align-self: center
            transition: .2s
            &:hover
                transform: scale(1.3)
        .section-background
            position: absolute
            overflow: hidden
            height: 100%
            width: 100vw
            img
                height: 100vh
                filter: blur(10px)
    .section--text
        @extend .section
        background: white
        height: 70vh
        color: $black
        font-size: 1.5rem
        .content-wrapper
            padding: 0 10vw
    .content-wrapper
        z-index: 2
        .content
            flex-direction: column

.big-text
    border: 2px solid $white
    width: 70vw
    margin: 7vh auto 0
    padding: 2rem
    a
        text-decoration: underline

.news-cards
    display: flex
    flex-direction: column
    section
        border: 2px solid $white
        border-radius: 15px
        background: rgba(255, 204, 59, 0.9)
        width: 70vw
        margin: 2vh auto
        padding: 1rem

.player-cards
    margin: 0 auto
    width: 100%
    max-width: 1350px
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    section
        margin: 2%
        position: relative
        height: 300px
        width: 300px
        border-radius: 10px
        .section-background
            z-index: -1
            position: absolute
            width: 100%
            height: 100%
            img
                display: block
                width: inherit
                height: inherit
                transition: 0.2s
        .content-wrapper
            height: 100%
            opacity: 0
            transition: 0.2s
            display: box
            align-items: center
            .content
                align-self: center
                margin: auto
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                h1
                    font-size: 2rem
                    margin: 0
        &:hover
            .content-wrapper
                opacity: 1
            .section-background img
                filter: blur(5px)


.form
    display: flex
    flex-direction: column
    width: fit-content
    margin: 0 auto
    input
        margin: 1% 0
        padding: 1%
        width: clamp(300px, 70vw, 600px)
        &[type=submit]
            border: 2px solid $white
            background: transparent
            color: $white
            width: 5rem
