$white: rgb(250, 250, 250)
$black: rgb(0, 0, 0)
$gold: rgb(255, 204, 59)

body
    background: $black
    color: $white
    font-family: "Poppins", sans-serif
    margin: 0
    overflow-x: hidden
    font-size: 1rem
    min-height: 100vh

a
    text-decoration: none
    color: inherit

.page-content // body
    margin-top: 4rem
    color: $white
    header
        display: flex
        flex-direction: column
        align-items: center
        padding: 0 5vw
        margin-bottom: 3vh
        h1
            justify-self:
            color: $gold
            font-size: 5rem
            margin: 0

.link // link like button
    border: 2px solid $white
    background: transparent
    font-size: 0.75rem
    padding: 0.2rem 0.5rem
    transition: 0.3s
    &:hover
        background: $white
        color: $black
    &--black
        @extend .link
        font-size: 1rem
        color: $black
        border-color: $black
        &:hover
            border-color: $black
            color: $white
            background: $black

.vertical-chain
    display: flex
    flex-direction: column
    width: 100vw
    .section
        display: flex
        align-items: center
        height: 100vh
        h1
            font-size: 5vmax
    .section--image
        @extend .section
        justify-content: center
        h1 a
            display: block
            color: $white
            align-self: center
            transition: .2s
            &:hover
                transform: scale(1.3)
        .section-background
            position: absolute
            overflow: hidden
            height: 100%
            width: 100vw
            img
                height: 100vh
                filter: blur(10px)
    .section--text
        @extend .section
        background: white
        height: 70vh
        color: $black
        font-size: 1.5rem
        .content-wrapper
            padding: 0 10vw
    .content-wrapper
        z-index: 2
        .content
            flex-direction: column

.big-text
    border: 2px solid $white
    width: 70vw
    margin: 0 auto
    padding: 2rem

.news-cards
    display: flex
    flex-direction: column
    section
        border: 2px solid $white
        background:
        width: 70vw
        margin: 2vh auto
        padding: 1rem
        bor

.player-cards
    display: flex
    justify-content: space-evenly
    section
        background-size: 100% 100%
        border-radius: 10px
        display: flex
        flex-flow: row wrap
        width: 20vw
        height: 300px
        .content-wrapper
            display: none
            z-index: 2
            width: inherit
            height: inherit
            align-self: center
            .content
                display: flex
                flex-direction: column
                align-items: center
                a
                    font-size: 1.5rem
                .game
                    font-size: 0.75rem
                    text-transform: uppercase
        &:hover
            .content-wrapper
                display: block
                background: rgba(0,0,0,0.7)

@media (max-width: 700px)
    .player-cards section
        width: 30vw

.form
    display: flex
    flex-direction: column
    justify-content: center
    &-left

    &-right
    input
        align-self: center
        width: 80%
        &::before
