@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')
@import "./nav"
$gold: rgb(255, 204, 59)
$heading-font-size: clamp(20px, 3vw, 300px)

body
    background: #000
    font-family: "Lato", sans-serif
    margin: 0 auto
    font-size: 2vmax
    max-font-size: 10px

// main content styling

.page-content
    position: fixed
    margin: 0 auto
    top: 5vh
    height: 95vh
    width: 100vw
    color: #111
    text-align: center
    h1
        font-size: $heading-font-size
        font-weight: bold
        color: $gold
        text-transform: uppercase
    // a, span
    //     font-size: 2em
    //     font-weight: bold
    //     color: $gold
    //     text-decoration: none

.page-content a:hover
    cursor: pointer
    text-decoration: underline
