$color-white: rgb(250, 250, 250)
$color-black: rgb(0, 0, 0)
$color-gold: rgb(255, 204, 59)

$height-footer: 4rem
$mobile-height-footer: 7rem

$height-header: 4rem
$mobile-height-header: 6rem

@mixin blurred
    backdrop-filter: blur(15px)
    -webkit-backdrop-filter: blur(15px)
    background-color: rgba(0, 0, 0, 0.7)
