@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap')
@import const

*
    box-sizing: border-box

body
    background: $color-black
    color: $color-white
    font-family: 'Oxygen', sans-serif
    margin: 0
    font-size: 1.25rem

ul
    list-style: none

a
    text-decoration: none
    color: inherit

.invert
    color: $color-black !important
    background: $color-white !important

    .link
        border-color: $color-black !important
        &:hover
            background: $color-black !important
            color: $color-white !important

.no-scroll
    overflow: hidden

main // body
    margin-top: $height-header
    padding: 0 10%
    color: $color-white
    min-height: calc(100vh - #{$height-header} - #{$height-footer})

@media (max-width: 900px)
    main
        margin-top: $mobile-height-header
        padding: 0
        min-height: calc(100vh - #{$mobile-height-header} - #{$mobile-height-footer})

.link // button-like link
    border: 2px solid $color-white
    background: transparent
    font-size: 0.75rem
    padding: 0.2rem 0.5rem
    transition: 0.3s
    &:hover
        background: $color-white
        color: $color-black
