@import '../static/const';

$input-height: 3rem;

.input-group {
    z-index: 1;
    position: relative;
    width: 100%;
    margin: 0 0 0.5rem;
    grid-column: 1 / 4;
    & + .left {
        grid-column: 1;
    }
    & + .right {
        grid-column: 3;
    }
    input {
        border-radius: 3px;
        width: 100%;
        height: $input-height;
        background-color: $color-white;
        border: 1px solid $color-medium-grey;
        padding: 0 1rem;
        outline: none;
        transition: all 0.3s;
        &::placeholder {
            color: $color-medium-grey;
            font-weight: 300;
            text-transform: capitalize;
        }
    }

    label {
        margin-left: 1rem;
        margin-top: 0.2rem;
        display: block;
        transition: all 0.3s;
    }

    input:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        $translate-height: -$input-height * 0.5;
        transform: translateY($translate-height);
        -webkit-transform: translateY($translate-height);
    }
}
