@import '../const';
$border-thickness: 2px;
$card-width: 150px;
$card-height: 200px;

.global-header {
    background: $color-white;
    top: 0;
    left: 0;
    position: fixed;
    height: $header-height;
    z-index: 10;
    width: 100vw;
    border-bottom: $border-thickness solid $color-black;
    padding: 0 $gutter;

    & > .wrapper {
        display: flex;
        justify-content: space-between;

        .dropdown-menu {
            position: absolute;
            background: #ffffff;
            border-bottom: 1px solid $color-black;
            left: 0;
            top: $header-height;
            height: calc(#{$card-height} + 3rem);
            width: 100vw;
            transition: all 0.2s linear;

            .wrapper {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                text-transform: none;
                max-width: calc(4 * (#{$card-width} + 7rem));

                a {
                    font-size: 13px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        position: relative;
                        height: $card-height;
                        width: $card-width;
                        filter: grayscale(100%);
                        transition: all 0.2s linear;
                        border-radius: 5px;

                        &:hover {
                            filter: none;
                        }
                    }
                }
            }
        }
    }

    .left,
    .right {
        display: flex;
        align-items: center;
    }

    .left {
        width: 100%;

        .logo {
            z-index: 11;
            width: auto;
            height: 110%;
            @include transform(translateY(0.5rem));
            margin-right: 2rem;
            * {
                height: 100%;
            }
        }

        .routes {
            text-transform: uppercase;
            font-weight: bold;
            width: 400px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .dropdown {
                span {
                    cursor: pointer;
                    user-select: none;
                    .fa-angle-down {
                        transition: all 0.15s linear;
                        &.down {
                            @include transform(rotate(180deg));
                        }
                    }
                }

                .translate-100 {
                    @include transform(translateY(-100vh));
                }
            }
        }

        .right {
            font-size: 1.5rem;
            justify-content: space-between;
            width: 3rem;
            * {
                margin-left: auto;
            }
        }

        &:last-child() {
            justify-self: flex-right;
        }
    }
}

@media (max-width: $mobile-width) {
    .global-header {
        height: $mobile-header-height;
        .left > .routes {
            display: none;
        }
    }
}
