<footer class="global-footer">
    <div class="wrapper">
        <span>© BAGUN | All rights reserved</span>
        <div>
            <a href="/privacy">Privacy</a>
            <a href="/tos">Terms</a>
            <a href="/cookies">Cookies</a>
        </div>
    </div>
</footer>
