@import ../const

.chain
    display: flex
    flex-direction: column
    width: 100vw
    article
        height: 100vh
        width: 100%
        background-color: $black
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        header
            margin: 0 auto
            align-self: center
            width: fit-content
            h1
                margin: 0
                font-size: 5vmax
                transition: .2s
                &:hover
                    transform: scale(1.3)
    .small
        height: 60vh
        header h1:hover
            transform: none
