<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('static/head', { title }) %>
        <link rel="stylesheet" href="/css/form.css" />
        <script defer src="/js/form.js"></script>
    </head>
    <body>
        <%- include('static/header') %>
        <main>
            <form action="" method="post" class="form">
                <h1>Join BAGUN</h1>
                <% fields.forEach((input) => { %>
                    <%- include('components/input', { input }) %> 
                <% }) %>
                <button type="submit" class="submit button">Send</button>
            </form>
        </main>
        <%- include('static/footer') %>
    </body>
</html>
