<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('static/head', {title: 'Welcome | BAGUN Esports'}) %>
    </head>
    <body>
        <%- include('static/header') %>
        <main></main>
        <%- include('static/footer') %>
    </body>
</html>
