<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('static/head') %>
        <link rel="stylesheet" href="/css/layouts/chain.css" />
    </head>
    <body>
        <%- include('static/header') %>
        <main>
            <div class="chain">
                <article style="background-image: url(assets/siege.jpg)">
                    <header>
                        <h1><a href="divisions/r6">Rainbow Six Team</a></h1>
                    </header>
                </article>
                <article class="invert small">
                    <header><h1>What is Bagun?</h1></header>
                    <div>
                        <p>an esports organization made by a couple of friends that aren't the best but strive to be</p>
                        <a href="about" class="link"> See more here </a>
                    </div>
                </article>
                <article style="background-image: url(assets/destiny.jpg)">
                    <header>
                        <h1><a href="divisions/destiny">Destiny Team</a></h1>
                    </header>
                </article>
            </div>
        </main>
        <%- include('static/footer') %>
    </body>
</html>
