@import '../../scss/const';
$border-thickness: 2px;

.root {
    background: $light-color;
    top: 0;
    left: 0;
    position: fixed;
    height: $header-height;
    z-index: 10;
    width: 100vw;
    border-bottom: $border-thickness solid $dark-color;
    padding: 0 $gutter;

    .translate-100 {
        @include transform(translateY(-100vh));
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.left,
.right {
    display: flex;
    align-items: center;
}

.left {
    width: 100%;

    .logo {
        z-index: 11;
        width: auto;
        height: 110%;
        @include transform(translateY(0.5rem));
        margin-right: 2rem;

        * {
            height: 100%;
        }
    }

    .dropdown span {
        cursor: pointer;
        user-select: none;

        .fa-angle-down {
            transition: all 0.15s linear;

            &.down {
                @include transform(rotate(180deg));
            }
        }
    }

    .routes {
        text-transform: uppercase;
        font-weight: bold;
        width: 400px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .right {
        font-size: 1.5rem;
        justify-content: space-between;
        width: 3rem;
        * {
            margin-left: auto;
        }
    }

    &:last-child() {
        justify-self: flex-end;
    }
}

@media (max-width: $mobile-width) {
    .root {
        height: $mobile-header-height;
        .left > .routes {
            display: none;
        }
    }
}
