<footer class="global-footer">
    <span>© BAGUN | All rights reserved</span>
    <div>
        <a href="/">Privacy</a>
        <a href="/tos">Terms</a>
        <a href="/">Cookies</a>
    </div>
</footer>
