<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>BAGUN | ESPORTS ORGANIZATION</title>

<link rel="stylesheet" href="/css/style.css" />

<link
    href="/css/header.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
/>
<noscript><link rel="stylesheet" href="/css/header.css" /></noscript>

<link
    href="/css/footer.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
/>
<noscript><link rel="stylesheet" href="/css/footer.css" /></noscript>

<script src="/js/index.js" defer type="module"></script>
<!-- <script
    src="https://kit.fontawesome.com/37c25c7fb3.js"
    crossorigin="anonymous"
></script> -->
<link rel="icon" href="/assets/favicon.ico" />
<meta name="description" content="BAGUN Esports. The next level of gaming" />
<meta name="keywords" content="gaming,game,destiny,esports,rainbow 6" />
<meta name="author" content="Victor Gorchilov" />
