<header class="global-header">
    <div class="left">
        <a href="/" class="logo">
            <img src="/assets/cat.svg" alt="logo home" />
        </a>
        <ul class="routes">
            <li><a href="/news">news</a></li>
            <li class="dropdown">
                <span>teams <i class="fas fa-angle-down"></i></span>
                <div class="dropdown-menu hidden translate-100">
                    <a href="/team/rainbow-6-siege">
                        <img src="/assets/siege.webp" alt="rainbow 6 siege" />
                        Rainbow 6: Siege
                    </a>
                    <a href="/team/valorant">
                        <img src="/assets/valorant.webp" alt="valorant" />
                        Valorant
                    </a>
                    <a href="/team/destiny">
                        <img src="/assets/destiny.webp" alt="destiny" />
                        Destiny
                    </a>
                    <a href="/team/league-of-legends">
                        <img
                            src="/assets/league.webp"
                            alt="league of legends"
                        />
                        League of Legends
                    </a>
                </div>
            </li>
            <li><a href="/join">join bagun</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </div>
    <div class="right">
        <a href="#">
            <i class="fas fa-shopping-bag"></i>
        </a>
    </div>
</header>
