<header class="site-header">
    <div class="logo">
        <a href="/">
            <img src="/static/assets/cat.svg" alt="Bagun" />
        </a>
    </div>
    <!-- Routes -->
    <ul class="header-routes">
        <li><a href="/">Home</a></li>
        <li>
            <a href="/news">News</a>
        </li>
        <li><a href="/join">Join BAGUN</a></li>
        <li class="dropdown">
            Divisions
            <ul class="dropdown-content">
                <li><a href="/divisions">All players</a></li>
                <li><a href="/divisions/valorant"></a></li>
                <li><a href="/divisions/rainbow-6-siege">Rainbow 6: Siege</a></li>
                <li><a href="/divisions/destiny">Destiny</a></li>
                <li><a href="/divisions/league-of-legends">League of Legends</a></li>
            </ul>
        </li>
        <li><a href="/about">About</a></li>
    </ul>
    <div class="header-end">
        <div class="link">
            <a href="/shop">Shop</a>
        </div>

        <!-- Mobile header -->
        <button class="btn burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="burger-menu-wrapper hidden">
        <ul class="burger-menu">
            <li><a href="/">Home</a></li>
            <li><a href="news">News</a></li>
            <li><a href="/join">Join BAGUN</a></li>
            <li><a class="burger-menu-folder">Divisions</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</header>
