<header class="site-header">
    <div class="logo">
        <a href="/">
            <img src="/assets/cat.svg" alt="Bagun" />
        </a>
    </div>
    <!-- Routes -->
    <ul class="header-routes">
        <li><a href="/">Home</a></li>
        <li>
            <a href="/news">News</a>
        </li>
        <li><a href="/join">Join BAGUN</a></li>
        <li class="dropdown">
            Divisions
            <ul class="dropdown-content">
                <li><a href="/divisions/all">All players</a></li>
                <li><a href="/divisions/1">Destiny</a></li>
                <li><a href="/divisions/2">League of Legends</a></li>
                <li>
                    <a href="/divisions/3"> Rainbow Six</a>
                </li>
                <li><a href="/divisions/4">Valorant</a></li>
            </ul>
        </li>
        <li><a href="/about">About</a></li>
    </ul>
    <div class="header-end">
        <div class="link">
            <a href="/shop">Shop</a>
        </div>

        <!-- Mobile header -->
        <button class="btn burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <div class="burger-menu-wrapper hidden">
        <ul class="burger-menu">
            <li><a href="/">Home</a></li>
            <li><a href="news">News</a></li>
            <li><a href="/join">Join BAGUN</a></li>
            <li><a class="burger-menu-folder">Divisions</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</header>
