<footer class="footer">
    <a href="https://instagram.com/victorgorchilov">
        <i class="fab fa-instagram"></i> Instagram
    </a>
    <a href="https://faceit.com/en/teams/1e0d3177-d948-484d-ace4-2cf5b98013e0">
        Faceit
    </a>
    <a href="/shop">Shop</a>
    <a href="">Contact Bagun</a>
    <a href="/tos">Terms</a>
    <a href="/html-preview">Preview HTML</a>
    <span>© BAGUN | All rights reserved</span>
</footer>
