<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create</title>
        <%- include('static/head') %>
        <link rel="stylesheet" href="/css/layouts/form.css" />
    </head>
    <body>
        <%- include('static/header') %>

        <form action="/<%= method %>" method="POST"></form>
    </body>
</html>
