@import '../../scss/const';

.root {
    padding: 0 $gutter;
    background: $dark-color;
    height: $footer-height;
    width: 100vw;
    color: $secondary-color;
    font-size: 1rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        width: fit-content;
    }

    div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 250px;
        a {
            margin: 0 0.5rem;
        }
    }
}

@media (max-width: $mobile-width) {
    .root {
        height: $mobile-footer-height;
        justify-content: space-evenly;
        flex-direction: column;
        div {
            justify-content: center;
            align-items: center;
        }
    }
}
