$light-color: #fafafa;
$light-grey-color: #e5e5e5;
$medium-grey-color: #c8c8c8;
$dark-color: #000000;
$gold-color: #ffcc3b;

$primary-color: $dark-color;
$secondary-color: $gold-color;

$footer-height: 5rem;
$mobile-footer-height: 7rem;

$header-height: 5rem;
$mobile-header-height: 5rem;

$gutter: 8vw;
$max-content-width: 1300px;
$mobile-width: 700px;

@mixin blurred {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: #000000b3;
}

@mixin transform($property) {
    transform: $property;
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
    max-width: $max-content-width;
}
