@import 'components/article';

.articles {
    max-width: $max-content-width;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &:last-child() {
        margin: 0;
    }
}
