@import 'components/card';

.players {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: $max-content-width;

    article {
        margin: 1.5rem;
    }
}
