@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700;900&display=swap');
@import 'const';

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Oxygen', sans-serif;
    color: $dark-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: $secondary-color;
    }
}

main {
    margin: 0 auto;
    padding: 0 $gutter;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
