.site-header {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100vw;
  z-index: 10;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.7);
}
.site-header .logo {
  height: 100%;
}
.site-header .logo a img {
  height: 100%;
}
.site-header .header-routes {
  width: 70%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.site-header .header-routes li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-header .header-routes li a {
  align-self: center;
}
.site-header .header-routes .dropdown {
  cursor: pointer;
}
.site-header .header-routes .dropdown-content {
  justify-content: left;
  display: none;
  position: absolute;
  top: 4rem;
  padding: 0 1rem 1rem;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.7);
}
.site-header .header-routes .dropdown-content li {
  width: fit-content;
  margin: 0.2rem 0;
}
.site-header .header-routes .dropdown:hover .dropdown-content {
  display: block;
}
.site-header .header-end {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-header .btn {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 2rem;
}
.site-header .btn .active {
  height: 2.5rem;
}
.site-header .btn .active span {
  margin: -2px;
}
.site-header .btn .active span:nth-child(1) {
  transform: rotate(-45deg);
}
.site-header .btn .active span:nth-child(2) {
  transform: scale(0);
}
.site-header .btn .active span:nth-child(3) {
  transform: rotate(45deg);
}
.site-header .burger {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.site-header .burger span {
  background-color: #fafafa;
  width: 2.5rem;
  height: 4px;
  border-radius: 4px;
  margin: 3px 0px 3px 0px;
  transition: margin 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81), transform 0.4s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.site-header .burger span:nth-child(2) {
  transform-origin: 50% 50%;
}

.hidden {
  transform: translateX(100vw);
}

.burger-menu-wrapper {
  height: calc(100vh - 6rem);
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 6rem;
  left: 0;
  transition: 0.3s;
  display: flex;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.7);
}
.burger-menu-wrapper .burger-menu {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  font-size: 8vw;
}

@media (max-width: 900px) {
  main {
    margin-top: 6rem;
  }

  .site-header {
    height: 6rem;
    grid-template-columns: 5% 10% auto 10% 5%;
  }
  .site-header .burger {
    display: flex;
  }
  .site-header .link, .site-header .header-routes {
    display: none;
  }
  .site-header .logo {
    width: 3rem;
  }
}

/*# sourceMappingURL=header.css.map */
